/* static website styles */
body {
    margin: 0;
}
/* Navbar styles */
.navbar-container {
    padding: 0;
    margin: 0;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2d3c50;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-items {
    float: left;
}
.nav-items .nav-links {
	display: block;
	font-size: 1.2em;
	color: white;
	font-style: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
.nav-items .nav-links:hover:not(.active), .nav-idrop:hover {
	background-color: #3563ae;
}
.nav-items .nav-links.active {
	background-color: #9a9a9a;
	color: white;
}
/* dropdown menu */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	z-index: 1;
}
.nav-idrop:hover .dropdown-content {
	display: block;
}
.dropdown-content .dcont {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content .dcont:hover {
	color: white;
	background-color: #3563ae;
}
/* End dropdown menu */

/* End Navbar styles */
.big-image {
	padding-top: 5em;
}
h1 {
	font-size: 2.71em;
	font-family: Arial, Helvetica, sans-serif;
	color: #3563ae;
	padding-top: 0.4em;
	margin: 1em 0.5em 0 0.5em;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
	margin-top: 1em;
	padding-top: 1em;
	padding-left: 1em;
}
p {
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif;
	color: #2d3c50;
	padding: 5px 10px,
}